body {
    color: purple;
    background-image: url(fondo.png);
    background-size: cover;
    text-align : center;
}

#navegador ul{
   list-style-type: none;
   text-align: center;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 100px 0 0;
}
#navegador li a {
   padding: 14px 28px 14px 28px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}